.login-page {
  background-color: white;
  height: 100%;
}

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-sub-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 40px 30px 40px;
  height: 250px;
  border-radius: 2px;
}

.userNameBox,
.passwordBox {
  width: 320px;
}

.login-button-new {
  background-color: rgb(195, 184, 60);
  color: white;
  border: none;
  font-size: 16px;
  font-family: arial;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 138px;
}
.login-button-new:focus {
  outline: none;
}